@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}


html {
	font-size: 10px;
}

.container { /*Container służy do budowania konstrukcji, nie wrzucamy do niego stylów*/
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

.container:before, .container:after {
	content: " ";
	display: table;
	clear: both;
}

/*Header*/

.header {
	background-color: #000;
}

.header h1 {
	color: #FFF;
	font-size: 1.4rem;
	font-weight: 600;
	width: 50%;
	float: left;
	text-transform: uppercase;
	padding: 15px 25px;
}

.header h1 span {
	color: #27c7ab;
	font-weight: 700;
}

nav {
	width: 50%;
	float: right;
}

.mainMenu {
	list-style-type: none;
	width: 100%;
	text-align: right;
}

.mainMenu li {
	display: inline-block;
	position: relative;
}

.mainMenu a {
	display: block; /* zeby można było dodać poźniej padding*/
	color: #FFF;
	padding: 15px 25px;
	font-size: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
}


/* rozwijane menu*/

.subMenu {
	display: none;
	position: absolute;
	left: 0;
	top: calc(100% + 20px); /*czyli 100% relatywnego plus 20px*/
	background-color: #000;
	text-align: left;
	z-index: 9999;
}

.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom: 20px solid #000;
	top: -40px;
	left: calc(50% - 20px); /*tutaj odejmuje te 20px ktore dodaliśmy w subMenu żeby zrobić przerwę*/
}

/*.hasChildren a:focus + .subMenu {  !*nie mogę dodać focus do czegoś co nie jest linkiem*!*/
	/*display: block;*/
	/*text-align: left;*/
/*}*/

#slider ul {
	list-style: none;
}

#slider li {
	display: none;
}

#slider {
	height: 135px 0;
	background: linear-gradient(#fafafa, #d0cfd7);
	position: relative;
}

#slider img {
	width: 50%;
	float: left;
	margin: 30px 0;
}

#sliderText {
	width: 50%;
	float: right;
	height: 100%;
	padding: 100px 0;
}

#sliderText h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 3rem;
}

#sliderText h2 span {
	color: #27c7ab;
	font-weight: 700;
}

#sliderText p {
	padding-top: 20px;
	text-align: center;
	font-size: 1.5rem;
}

.button {
	border: none;
	background-color: #27c7ab;
	color: white;
	font-size: 2rem;
	padding: 15px 20px;
	text-transform: uppercase;
	border-radius: 15px;
	display: block;
	width: 250px;
	margin: 20px auto;
}

.prev {
	position: absolute;
	left: 40px;
	top: calc(50% - 40px);
	color: #27c7ab;
	background-color: transparent;
	border: none;
	font-size: 7.8rem;
}

.next {
	position: absolute;
	right: 40px;
	top: calc(50% - 40px);
	color: #27c7ab;
	background-color: transparent;
	border: none;
	font-size: 7.8rem;
}

/*3 sekcja - 2 zdjęcia i tekst*/

#content article {
  float: left;
  height: 300px;
  width: 33.3332%;
  margin: 20px 0;
}


#content article:before, #content article:after  {
  content: "";
  clear: both;
  display: table;
}

article div {
  min-height: 250px;
  padding-top: 1px;
  border:1px solid #d0cfd7;
}

#content article h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 20px 0;
  padding-left: 10px;
  margin: 0;
  background-color: rgba(255,255,255,.3);
  margin-top: 50%;
}

.hiddenSpan {
	visibility: hidden;
}

#content article h3 span {
  border-bottom: 5px solid #27c7ab;
  padding-right: 20px;
}

article:first-child div {
  background-image: url(../images/box1_img.jpg);
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
}
article:nth-child(2) div {
  background-image: url(../images/box2_img.jpg);
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
}

#content article:nth-child(3) div h3 {
  margin: 0;
}

article p {
  font-size: 1.4rem;
  padding-left: 10px;
}


/*3 sekcja - cennik*/

#prices {
	background-color: #f1f1f1;
	height: 680px;
}

.prices-head {
	width: 100%;
	height: 100px;
}

.prices-head span {
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #818181;
	font-weight: 500;
	border-bottom: 5px solid #27c7ab;
  	padding-right: 260px;
  	line-height: 100px;
}

.offers {
	font-size: 0;
	margin-top: 50px;
}

.left-table, .middle-table, .right-table  {
	height: 450px;
	width: 31%;
	border: 3px solid #d0cfd7;
	position: relative;
	display: inline-block;
	background-color: #f9f9f9;
}

.big-circle {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #d0cfd7;
	top: -45px;
	left: 135px;
	background-color: #f9f9f9;
}

.middle-table .big-circle {
	background-color: #27c7ab;
	border: 3px solid #27c7ab;
}

.small-circle {
	position: absolute;
	background-color: #c1c1c1;
	width: 30px;
	height: 30px;
	top: -29.5px;
	left: 150.5px;
	border-radius: 50%;
	border: 1px solid #d0cfd7;
}

.middle-table .small-circle {
	background-color: #f7f9f9;
	border: 1px solid #f7f9f9;
}

.middle-table {
	margin: 0 3.5%;
	border: 3px solid #27c7ab;
	background-color: #27c7ab;
}

.title {
	height: 60px;
}

.title p {
	font-size: 1.9rem;
	color: #27c7ab;
	text-align: center;
	line-height: 60px;
	font-weight: 600;
}

.middle-table .title p {
	color: #f7f9f9;
}

.price-circle {
	border: 3px solid #d0cfd7;
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #fff;
	left: 95px;
	margin-top: 15px;
}

#middle {
	border: 3px solid #27c7ab;
}

.price {
	font-size: 4rem;
	color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	font-weight: 900;
	margin-top: 25px;
}

.middle-table .price {
	color: #27c7ab;
}

.price span {
	font-size: 1.8rem;
	vertical-align: top;
}

.time {
	font-size: 1.8rem;
	color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
}

.middle-table .time {
	color: #27c7ab;
}

.list {
	margin: 160px 0 40px 0;
	height: 120px;
}

.options {
	list-style-type: none;
}

.options li {
	font-size: 2rem;
	color: #b6b6b6;
	text-align: center;
	line-height: 30px;
}

.options li:nth-child(2n+1) {
	background-color: #e3e3e3;
}

.options li:nth-child(2n+2) {
	background-color: #f1f1f1;
}

.middle-table .options li:nth-child(2n+1) {
	background-color: #fff;
}

.button-join {
	height: 60px;
	width: 100%;
	text-align: center;
}

.button-join a {
	background-color: #00d1ad;
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2rem;
	border-radius: 10px;
}

.middle-table .button-join a {
	background-color: #fff;
	color: #27c7ab;
}

/* Zamówienie */

.application {
	background-color: #f9f9f9;
	padding:30px 0;
}

.application h3 {
	color: #575757;
	font-size: 18px;
}

.application header.align_right{
	text-align: right;
}

.inline {
	display:inline-block;
	width: 33%;
	padding: 14px;
	vertical-align: top;
}

.form {
	margin-top:50px;
}

.drop_down_list {
	border: 1px solid #8de0d2;
	width: 280px;
	height: 38px;
	background-color: white;
	margin-top: 22px;
	padding: 8px 12px;
	position: relative;
}

.list_label {
	font-size: 2.2rem;
	color: #e2e2e2;
	font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.checkbox {
	position: relative;
	padding: 30px 30px 30px 0;
}

.checkbox input {
	display: block;
	opacity: 0;
	height: 48px;
	position: absolute;
	width: 48px;
	cursor: pointer;
}

.checkbox label {
	display: block;
	padding-left: 65px;
	position: relative;
	font-size: 28px;
	color: #cecece;
	line-height: 120%;
	padding-top: 10px;
	cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
	border: 1px solid #27c7ab;
	content: "";
	display: block;
	left: 0;
	height: 48px;
	position: absolute;
	width: 48px;
	top: 0;
}

.checkbox label::after {
	background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
	border: 0;
	display: none;
}

.checkbox input:checked + label::after {
	display: block;
}

.active {
	background: url('../images/form_ok.jpg');
	width: 48px;
	height: 40px;
}

.inline_text {
	display: inline-block;
	width: 228px;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 15px;
	color: #aeaeae;
}

.image_part img{
	margin-top: 110px;
	margin-left: 38px;
}

.application .green_bell {
	background-color: #24baa0;
	width: 300px;
	height: 6px;
	display: inline-block;
	margin: 5px 0 5px 0;
}

.summary_panel {
	background-color: white;
	width: 100%;
	height: 195px;
	padding: 10px;
	margin-top: 50px;
}

.application .green_button {
	background-color: #27c7ab;
	color: white;
	text-align:center;
	text-transform: uppercase;
	width: 200px;
	padding: 10px 30px;
	font-size: 24px;
	display: inline-block;
	font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
	margin-top: 20px;
	margin-left: 29px;
	border-radius: 8px;
	text-decoration: none;
}

.panel_left {
	display: inline-block;
	width: 185px;
	vertical-align: top;
	padding-bottom:10px;
	border-bottom:1px solid #e7e7e7;
	height: 140px;
}

.panel_right {
	display: inline-block;
	width: 100px;
	border-left:1px solid #e7e7e7;
	text-align: right;
	vertical-align: top;
	padding-bottom:10px;
	border-bottom:1px solid #e7e7e7;
	height: 140px;
}

.panel_left h4 , .panel_right h4{
	color: #24baa0;
	font-size: 23px;
}

.panel_left span{
	margin-top: 10px;
	font-size: 22px;
	color: #5b5a5a;
	display: block;
}

.panel_right span {
	display: block;
	font-size: 22px;
	color: #24baa0;
	margin-top: 10px;
}
.sum_label{
	display: inline-block;
	width: 185px;
	margin-top: 10px;
	font-size: 22px;
	color: #5b5a5a;
}

.sum {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-top: 10px;
	font-size: 22px;
	color: #24baa0;
}

.list_arrow {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #24baa0;
	display:block;
	position: absolute;
	right: 14px;
	top: 20px;
	cursor: pointer;
}

.list_panel {
	background-color: white;
	border: 1px solid #ccc;
	width: 288px;
	padding-left: 15px;
	padding-bottom: 10px;
	list-style: none;
	margin: 0;
	left: 0;
	z-index: 2;
	position: absolute;
	top: 54px;
	display:none;  /* wyświetlanie listy */
}

.show {
	display: block;
}

.list_panel li {
	margin-top:10px;
	cursor: pointer;
	color: #585858;
}

.title {
	height: 30px;
}


/*Formularz*/

#contact {
	background-color: #fff;
	height: 550px;
	font-size: 0;
}

.left-form {
	width: 65%;
	display: inline-block;
	height: 400px;
}

.right-form {
	width: 35%;
	display: inline-block;
	height: 400px;
	vertical-align: top;
	text-align: center;
}

.left-form input, textarea {
	border: 1px solid #27c7ab;
	width: 90%;
	line-height: 60px;
	margin-bottom: 20px;
	font-size: 2rem;
	padding: 5px 5px;
}

.left-form textarea {
	height: 180px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #f1f1f1;
	font-size: 3.5rem;
	padding: 5px 5px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #f1f1f1;
	font-size: 3.5rem;
	padding: 5px 5px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    display:inline-block;
	margin-top: 15px;
    width:350px;
    height:50px;
}

input[type="checkbox"] + label span {
    display:inline-block;
	padding-left: 10px;
    width:291px;
    height:50px;
	vertical-align: top;
}

input[type="checkbox"] + label i.tick {
	width: 50px;
	height: 50px;
	display: inline-block;
	border: 1px solid #e0e0e0;
}

input[type="checkbox"]:checked + label i.tick {
	background:url(../images/form_ok.jpg) center center no-repeat;
}

.right-form label {
	color: #e0e0e0;
	font-size: 2rem;
	text-align: left;
}

.right-form .button {
	font-weight: 900;
	font-size: 3.5rem;
	width: 350px;
}


/*Footer*/

footer {
	height: 100px;
	font-size: 0;
}

footer .container {
	line-height: 100px;
}

.footer-left {
	display: inline-block;
	width: 65%;
}

.footer-middle {
	display: inline-block;
	width: 20%;
}

.footer-right {
	display: inline-block;
	width: 15%;
}

.footer-left p {
	font-size: 1.5rem;
	color: #c1c1c1;
}

.footer-right p {
	font-size: 2rem;
	color: #c1c1c1;
	font-weight: 600;
}

.footer-right p span {
	font-size: 2rem;
	color: #c1c1c1;
	font-weight: 900;
}
